* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 54px;
  height: 50px;
  margin: 18px;
}

.boton-nav {
  display: grid;
  gap: 7px;
  margin: 30px;
}

.barra {
  width: 36px;
  height: 6px;
  background-color: black;
}

.main {
  display: grid;
  justify-items: center;
  background-color: #c4c4c4;
}

.imagen {
  width: 318px;
  height: 300px;
}

.principal-title {
  font-size: 48px;
  font-family: "Open Sans";
  text-align: center;
  margin: 89px 42px 42px;
}

.who-am-i {
  display: grid;
  justify-items: center;
  background-color: #141414;
}

.title-section-2 {
  color: white;
  font-family: "Open Sans";
  font-size: 32px;
  margin: 50px auto;
}

.cuento {
  font-family: "Roboto";
  font-size: 16px;
  color: #fafafa;
  margin: 0 32px;
}

.tilde {
  margin: 60px;
}
